@font-face {
    font-family: "Microsoft New Tai Lue";
    src: url("../fonts/Microsoft NewTaiLue.woff"), url("../fonts/Microsoft NewTaiLue.woff2") ;
    font-weight: 400;
}
@font-face {
    font-family: "A Caslon Pro";
    src: url("../fonts/ACaslonPro-Regular.woff"), url("../fonts/ACaslonPro-Regular.woff2") ;
    font-weight: 400;
}
@font-face {
    font-family: "MS Sans Serif";
    src: url("../fonts/MicrosoftSansSerif.woff"), url("../fonts/MicrosoftSansSerif.woff2") ;
    font-weight: 400;
}
@font-face {
    font-family: "Arial MT";
    src: url("../fonts/arial.woff2"), url("../fonts/arial.woff") ;
    font-weight: 400;
}
@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url("../fonts/ArialRoundedMTBold.woff"), url("../fonts/ArialRoundedMTBold.woff2") ;
    font-weight: 400;
}
@font-face {
    font-family: "Lucida Sans";
    src: url("../fonts/LucidaSans.woff"), url("../fonts/LucidaSans.woff2") ;
    font-weight: 400;
}
* {
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}
h2 {
    margin: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__info {
    width: 100%;
    padding: 15px 0 13px;
    background: #4b83a6 radial-gradient(circle closest-corner at 30% 100%, #6e9cb8, transparent);
}
.header__wrap {
    margin: 0 auto;
    max-width: 980px;
    align-items: flex-end;
}
.header__logo {
    max-width: 281px;
    padding-bottom: 5px;
}
.logo {
    width: 281px;
    height: 59px;
    background: url("../img/logo-main.png") no-repeat center center;
}
.header__slogan {
    text-align: right;
    color: #ffffff;
    font-family: "Microsoft New Tai Lue", arial, sans-serif;
    font-size: 16px;
    line-height: 21px;
}
.header__contacts {
    width: 235px;
    color: #ffffff;
    font-family: "A Caslon Pro", Times, serif;
    font-size: 24px;
}
.header__phone {
    text-decoration: none;
    color: #ffffff;
}
.header__nav {
    width: 100%;
    /*padding: 17px 0 10px;*/
    border-bottom: 4px solid transparent;
    border-image: radial-gradient(circle closest-corner at 30% 0%, #6e9cb8, #4b83a6) 1;
    background: #d7d7d7 radial-gradient(circle at 30% 50%, #eaeaea, transparent);
}
.header__top-menu {
    width: 500px;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "MS Sans Serif", arial, sans-serif;
    font-size: 16px;
}
.top-navigation__top-menu-item {
    box-sizing: border-box;
    width: 106px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #3a5362;
    position: relative;
    padding: 14px 10px 10px;
    z-index: 100;
    transition: 0.2s;
}
.top-navigation__top-menu-item::before {
    display: none;
    content: "";
    position: absolute;
    width: 106px;
    height: 44px;
    bottom: -8px;
    background: url("../img/ico-menu-active.png") center no-repeat;
    z-index: -100;
}
.top-navigation__top-menu-item:active::before {
    display: block;
}
.top-navigation__top-menu-item:active {
    color: #ffffff;
}
.top-navigation__top-menu-item:hover {
    color: #ff9f57;
}
.header__sign-in, .header__sign-up {
    text-decoration: none;
    color: #3a5362;
    transition: 0.2s;
}
.header__sign-in:hover, .header__sign-up:hover {
    color: #ff9f57;
}
.header__authorization {
    width: 130px;
    margin: auto 0;
    color: #3a5362;
    font-family: "MS Sans Serif", arial, sans-serif;
    font-size: 16px;
    align-items: center;
}
.oweners {
    width: 100%;
    background: #4b83a6 linear-gradient(to top right, #316c92 0%, #5289ad 25%, #5696bd 40%, #3686b8 60%, #5289ad 75%, #316c92 100%);
}
.oweners__container {
    margin: 0 auto;
    max-width: 980px;
    padding: 15px 20px 15px 8px;
}
.oweners__tenants-radio, .oweners__oweners-radio {
    display: none;
}
.oweners__carousel {
    max-width: 508px;
}
.carousel__item {
    display: flex;
    flex-direction: column;
    border: 9px solid #f2e8e8;
}
.carousel__img {
    width: 489px;
    height: 253px;
    overflow: hidden;
}
.carousel__sign {
    height: 66px;
    background-color: #1a425a;
    color: #ffffff;
    font-family: "Arial MT", arial, sans-serif;
    padding: 5px 0 0 26px;
    box-sizing: border-box;
}
.carousel__title {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    line-height: 34px;

}
.carousel__descr {
    font-size: 14px;
}
.carousel__controls {
    padding: 12px 0 0;
    margin: 0 auto;
    justify-content: center;
}
.carousel__controls-item {
    width: 10px;
    height: 10px;
    margin-left: 8px;
    background-color: #ffffff;
    border-radius: 50%;
}
.carousel__controls-item:first-child {
    margin-left: 0;
}
.carousel__controls-item--active {
    background-color: #2c5f7f;
}
.oweners__filter {
    max-width: 419px;
}
.oweners__tenants-name {
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border-radius: 10px 10px 0 0;
    height: 44px;
    padding: 0 37px;
    background-color: #5596bf;
    color: #ffffff;
    margin-right: 5px;
    font-family: "Arial Rounded MT Bold", arial, sans-serif;
    font-size: 22px;
    border: 1px solid transparent;
}
.oweners__tenants-name:hover {
    border-top: 1px solid #ff9f57;
}
.oweners__oweners-name {
    cursor: pointer;
    transition: 0.3s;
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    height: 44px;
    padding: 0 20px;
    background-color: #c2f2ed;
    color: #4b83a6;
    font-family: "Arial Rounded MT Bold", arial, sans-serif;
    font-size: 22px;
    border: 1px solid transparent;
}
.oweners__oweners-name:hover {
    border-top: 1px solid #ff9f57;
}
.oweners__oweners-name:checked:hover {
    border: 1px solid transparent;
}
.tenants__wrap, .oweners__wrap {
    padding: 18px 40px 0;
    border-radius: 0 10px 0;
    background: linear-gradient(#5596bf 0%, transparent 60%);
}
.tenants__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.oweners__wrap {
    display: none;
}
.tenants__checkbox--in-form {
    margin-left: 8px;
}
.tenants__address {
    color: #ffffff;
    font-family: "Arial MT", arial, sans-serif;
    font-size: 16px;
    line-height: 21px;
}
.tenants__address-field {
    width: 100%;
    height: 48px;
    border: 3px solid #316e94;
    border-radius: 8px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.11) 0%, rgba(0, 0, 0, 0.11) 100%);
    color: #347095;
    font-family: "MS Sans Serif", arial, sans-serif;
    font-size: 17px;
    padding-left: 19px;
    margin: 17px 0 10px;
}
.tenants__address-field::placeholder {
    color: #347095;
}
.tenants__address-field:focus::placeholder {
    color: transparent;
    transition: 0.2s;
}
.tenants__check-includes {
    margin-right: auto;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: "Arial MT", arial, sans-serif;
    font-size: 16px;
}
.tenants__checkbox {
    margin-right: 11px;
    width: 18px;
    height: 18px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.07);
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    background-image: linear-gradient(to top, rgba(187, 187, 187, 0.4) 0%, rgba(209, 209, 209, 0.4) 50%, rgba(188, 188, 188, 0.4) 52%, rgba(187, 187, 187, 0.4) 100%);
}
.tenants__property-choose, .tenants__bedrooms-choose {
    color: #ffffff;
    font-family: "Arial MT", arial, sans-serif;
    font-size: 16px;
    margin-top: 19px;
}
.select {
    width: 204px;
    height: 32px;
    color: #6693ae;
    margin-left: 20px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.07), inset 0 0 0 2px #fcfdfd;
    border: 1px solid #bbbbbb;
    background-image: linear-gradient(to top, rgba(244, 244, 244, 0.4) 0%, rgba(243, 243, 243, 0.4) 50%, rgba(255, 255, 255, 0.4) 52%, rgba(255, 255, 255, 0.4) 100%);
}
.select option {
    color: #6693ae;
}
.tenants__search {
    width: 204px;
    height: 47px;
    border: 3px solid #d7d7d7;
    background-image: linear-gradient(to top, #498ab2 0%, #6bb2dd 100%);
    color: #ffffff;
    font-family: "Arial MT", arial, sans-serif;
    font-size: 22px;
    border-radius: 8px;
    margin-top: 32px;
}
.oweners__oweners-radio:checked ~ .tenants__wrap {
    display: none;
}
.oweners__oweners-radio:checked ~ .oweners__tenants-name {
    background-color: #c2f2ed;
    color: #4b83a6;
}
.oweners__oweners-radio:checked ~ .oweners__oweners-name {
    background-color: #5596bf;
    color: #ffffff;
}
.oweners__oweners-radio:checked ~ .oweners__wrap {
    display: flex;
}
.services {
    width: 100%;
    background-image: linear-gradient(to top, #c2f2ed 0%, #c2f2ed 1%, #edfffd 100%);
}
.services__item--column {
    margin-right: 50px;
}
.services__wrap {
    margin: 0 auto;
    max-width: 980px;
    padding: 16px 0 22px 10px;
    justify-content: center;
}
.services__item-title {
    color: #4484ad;
    font-family: "Arial MT", arial, sans-serif;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.services__item-title:before {
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: url("../img/ico-home.png") center no-repeat;
}
.services__item-descr {
    margin-top: 15px;
    color: #43515a;
    font-family: "Arial MT", arial, sans-serif;
    font-size: 13px;
    line-height: 22px;
}
.properties {
    width: 100%;
}
.properties__wrap {
    margin: 0 auto;
    padding: 20px 0 31px;
    max-width: 980px;
}
.properties__row {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 21px;
}
.properties__row:last-child {
    margin-bottom: 0;
}
.properties__item {
    margin-right: 19px;
    text-decoration: none;
}
.properties__item:last-child {
    margin-right: 0;
}
.properties__img {
    width: 222px;
    height: 147px;
    border: 6px solid #e1dede;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.properties__descr {
    background-color: #4f8fb7;
    padding: 6px 12px 10px 11px;
    border-radius: 0 0 5px 5px;
    height: 55px;
    color: #ffffff;
    font-family: "MS Sans Serif", arial, sans-serif;
    font-size: 17px;
    line-height: 19.31px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
}
.properties__address {
    font-family: "Arial MT", arial, sans-serif;
    font-size: 15px;
}
.properties__descr::after {
    display: block;
    content: "";
    margin: auto 0;
    width: 33px;
    height: 27px;
}